// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

.has-primary-background-color {
	background-color: var(--primary_color);
}
.has-secondary-background-color {
	background-color: var(--secondary_color);
}
.has-accent-background-color {
	background-color: var(--accent_color);
}
.has-text-background-color {
	background-color: var(--text_color);
}
.has-bg-background-color {
	background-color: var(--bg_color);
}
.has-white-background-color {
	background-color: #fff;
}

.has-inline-color.has-primary-color,
.has-text-color.has-primary-color {
	color: var(--primary_color);
}
.has-inline-color.has-secondary-color,
.has-text-color.has-secondary-color {
	color: var(--secondary_color);
}
.has-inline-color.has-accent-color,
.has-text-color.has-accent-color {
	color: var(--accent_color);
}
.has-inline-color.has-text-color,
.has-text-color.has-text-color {
	color: var(--text_color);
}
.has-inline-color.has-bg-color,
.has-text-color.has-bg-color {
	color: var(--bg_color);
}
.has-inline-color.has-white-color,
.has-text-color.has-white-color {
	color: #fff;
}

// Links / Button

.wp-block-button__link,
.wp-block-file .wp-block-file__button {
	border-radius: 0;
	@extend .action-btn;
	
	&.has-white-background-color {
		&:hover,
		&:focus {
			color: #fff;
		}
	}
}

// Files

.wp-block-file {
	
	a:first-child {
		font-family: var(--font_regular);
		text-decoration: none;
		border-bottom: var(--secondary_color) 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: .4rem;
		}
		&:focus {
			background-color: var(--text_color);
			border-bottom-color: var(--text_color);
			color: #fff;
		}
	}
}


// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-large-font-size {
	@extend .text-intro;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
	}
	
	// WP block fix
	
	&:not([class*="is-resized"]) img {
		width: 100%; 
		height: auto;
	}
	
	figcaption {
		margin: 0;
	}	
}


// Quotes

.wp-block-quote {
	margin-bottom: $grid-padding*2 !important;
	
	cite {
		
	}
}


// Latest posts & Categories

.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-latest-posts__list {
	
	.page-content > & {
		padding-left: $grid-padding;
	}	
	
	li {
		margin-left: 0;
		border-bottom: var(--text_color) 1px solid;
		
		&:first-child {
			border-top: var(--text_color) 1px solid;
		}
			
		a {
			padding: $grid-padding 0;
			text-decoration: none;
			transition: .2s ease-in-out;
			
			&:hover,
			&:focus {
				padding-left: $grid-padding;
				padding-right: $grid-padding;
				background-color: var(--primary_color);
				color: #fff;
			}
		}
	}
	
	&.is-grid {
		li {
			margin-bottom: 0;
			
			&:first-child {
				border-top: 0;
			}
		}
	}
}
.wp-block-latest-posts__list {
	li {
		a {
			display: block;
		}
	}
}

.wp-block-archives-list,
.wp-block-categories-list {
	list-style: none;
	
	li {
		a {
			display: inline-block;
		}
	}
}


// Separators 

hr {
	height: 0; 
	border: 0;
	border-top: var(--text_color) 1px solid;
	
	.page-content > & {
		width: calc(100% - #{$grid-padding*4});
		margin: $grid-padding*5 auto;
		
		@include rwd(large) {
			max-width: calc(#{$max-width} - #{$grid-padding*4});
		}
	}
}

.wp-block-separator {
	@extend hr;
}
.wp-block-separator {
	
	.page-content > & {
		max-width: 20rem;
		
		&.is-style-wide {
			max-width: 80%;
			
			@include rwd(medium) {
				max-width: 50rem;
			}
		}		
	}
	
	&.has-primary-background-color {
		border-top-color: var(--primary_color);
	}
	&.has-secondary-background-color {
		border-top-color: var(--secondary_color);
	}
	&.has-accent-background-color {
		border-top-color: var(--accent_color);
	}
	&.has-text-background-color {
		border-top-color: var(--text_color);
	}
	&.has-bg-background-color {
		border-top-color: var(--bg_color);
	}
	&.has-white-background-color {
		border-top-color: white;
	}
}


// Table

.wp-block-table {

}

// Media text

.wp-block-media-text {
	
	.wp-block-media-text__content {
		padding: $grid-padding 0;
		
		@include rwd(smallmedium) {
			padding: $grid-padding;
			padding-right: 0;
		}
		@include rwd(large) {
			padding: $grid-padding*2;
		}
	}
	
	&.has-media-on-the-right {
		.wp-block-media-text__content {
			@include rwd(smallmedium) {
				padding: $grid-padding;
				padding-left: 0;
				padding-right: $grid-padding;
			}
			@include rwd(large) {
				padding: $grid-padding*2;
			}
		}
	}
}

// Gallery

.wp-block-gallery {
	.page-content > & {
		padding-left: $grid-padding;
	}
	
	.blocks-gallery-image,
	.blocks-gallery-item { 
		figcaption {
			padding: $grid-padding;
			background-color: var(--text_color);
		}
	}
	
}  


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {
	margin-top: $grid-padding*2;
	margin-bottom: $grid-padding*2;
	
	&:first-of-type {
		margin-top: 0;
	}
	
	.acf-block-container {
		width: 100%;
		
		&.center-max {
			padding: $grid-padding;
			margin: 0 auto;
			max-width: $max-width;
		}
	}
	
	&:not([class*="-cta"])[style] {
		padding: $grid-padding*4 $grid-padding;
		margin: 0 auto;
	}
}

// Text 

.acf-block--text {
	.acf-block-container {
		
	}
}


// Text+Img

.acf-block--textimg {
	.acf-block-container {
		
	}
}


// Gallery 

.acf-block--gallery {
	.acf-block-container {
		
	}
	
	&.inside {
		.acf-block-gallery-caption {
			background-color: transparent;
			
			&::after {
				width: 100%;
				height: 100%;
				border: 0;
				background-color: var(--primary_color);
				opacity: .8;
				z-index: 1;
			}
			.acf-block-gallery-caption-title {
				z-index: 2;
			}
		}
	}
	
	&.outside {
		.acf-block-gallery-caption {
			margin-top: $grid-padding;
			margin-bottom: $grid-padding;
			
			@include afterline(var(--secondary_color));
		}
		.acf-block-gallery-caption-title {
			@extend h4;
			margin: 0;
		}
		
		p {
			margin: 0 0 $grid-padding 0;
		}
		.read-more {
			display: none;
		}
		.action-btn {
			display: inline-flex;
		}
		
		.acf-block-gallery-item {
			a + p {
				margin-top: $grid-padding;
			}
			a:focus {
				.acf-block-gallery-caption-title {
					background-color: var(--text_color);
					color: #fff;
				}
				.acf-block-gallery-caption::after {
					width: 12.5%;
				}
			}
			a:hover {
				.acf-block-gallery-caption-title {
					color: var(--primary_color);
				}
				.acf-block-gallery-caption::after {
					width: 12.5%;
				}
			}
		}
	}
}


// CTA

.acf-block--cta {
	
	.acf-block-cta-text {
		& > * {
			margin: 0 0 $grid-padding 0;
		}
	}
		
	&.boxed-cta {
		margin: $grid-padding*2 auto $grid-padding*6 auto;
		padding: 10rem 4rem 0 4rem;
		
		@include rwd(large) {
			margin: $grid-padding*4 auto $grid-padding*8 auto;
			padding: 28rem 4rem 0 4rem;
		}
		@include rwd(wide) {
			margin-bottom: 12rem;
			padding-top: 32rem;
			
			&.alignfull {
				padding-left: $half-space;
			}
		}
		
		
		.acf-block-container {
			padding: $grid-padding;
			border: var(--primary_color) 1px solid;
			background-color: #fff;
			position: relative;
			transform: translateY(2rem);
						
			@include rwd(large) {
				transform: translateY(5rem);
				padding: $grid-padding*2;
				max-width: 48rem;

			}
			@include rwd(wide) {
				transform: translateX(1rem) translateY(8rem);
			}
			
			.acf-block-cta-text,
			.acf-block-cta-btn {
				text-align: left;
			}
			.acf-block-cta-text {
				max-width: none;
			}
		}
	}
	
	
	&.inline-cta {
		padding: 0 !important;
		
		.acf-block-container {
			max-width: $max-width;
			margin: 0 auto;
			border: var(--primary_color) 1px solid;
			background-color: #fff;
			padding: $grid-padding;
			
			@include rwd(large) {
				padding: $grid-padding*2;
			}
		}
		
		&[style*="background"] {
			
			.acf-block-container {
				background-color: transparent;
			}
			
			.action-btn {
				background-color: #fff;
				color: var(--primary_color);
				
				&:hover,
				&:focus {
					background-color: var(--accent_color);
				}
			}
		}
		
		@include rwd(wide) {
			
			.acf-block-container {
				padding: $grid-padding*2;
			}
		}
	}
}


// Posts

.acf-block--posts {
	.acf-block-container {
		
		.acf-block-post-item {
			@extend .post-block;
			padding: 0;
		}
		.acf-block-post-figure {
			@extend .post-figure;
		}
		.acf-block-post-title {
			@extend .post-title;
		}
		.acf-block-post-metas {
			@extend .post-meta;
		}
		.acf-block-post-excerpt {
			@extend .post-excerpt;
		}
		
		.acf-block-post-intro-title,
		.acf-block-post-link {
			text-align: center;	
		}
		.acf-block-post-link {
			padding: $grid-padding*3 $grid-padding;
		}
	}
}

// Testimonial

.acf-block--testimonial {
	.acf-block-container {
		
		.testimonial-picture {
			position: relative;
			display: inline-flex;
			flex-grow: 1;
			z-index: 1;
			
			img {
				max-width: 30rem;
				position: relative;
				border-radius: 50%;
				border: #fff $grid-padding solid;
				z-index: 2;
			}
			&::after {
				display: block;
				width: 110%;
				height: 110%;
				border-radius: 50%;
				background-color: var(--bg_color);
				position: absolute;
				top: -5%;
				left: $grid-padding;
				z-index: 1;
				
				@include rwd(small) {
					content: '';
				}
				@include rwd(large) {
					width: 120%;
					height: 120%;
					top: -10%;
				}
				@include rwd(wide) {
					width: 120%;
					height: 120%;
					left: auto;
					right: $grid-padding; 
				}	
			}
		}
		
		.testimonial-content {
			position: relative;
			padding-left: $grid-padding*4;
			z-index: 2;
			
			figure {
				overflow: visible;
			}
			blockquote {
				position: relative;
				margin: 0;
				padding-left: $grid-padding*2;
				
				&::after {
					left: -4rem;
					top: -1.2rem;
				}
				&::before {
					left: 0;
				}
			}
		}
		
		.testimonial-caption {
			padding-left: $grid-padding*2;
			
			span {
				display: block;
				@extend cite;
			}
			
			&::after {
				content: none;
			}
			&::before {
				content: '';
				display: block;
				width: .3rem;
				height: 100%;
				border-left: var(--secondary_color) 3px solid;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		
		.testimonial-title {
			@extend h4;
		}
		
	}
}


// Lists Advanced

.acf-block--advanced-list {
	.acf-block-container {
		
		.list-featured {
			font-family: var(--font_title);
			font-size: 200%;
		}
		.list-title {
			font-family: var(--font_title);
		}
		.list-legend {
			padding-top: $grid-padding/2;
			margin-top: $grid-padding;
			font-family: var(--font_italic);
		}
		
		.acf-block-list-item {
			padding-bottom: $grid-padding;
			align-items: center;
			@include img-opacity();
			
			a {
				text-decoration: none;
				align-items: center;
				
				.list-title {
					&:hover {
						color: var(--primary_color);	
					}
					&:focus-visible {
						color: #fff;
						background-color: var(--text_color);	
					}
					@include focus() {
						color: #fff;
						background-color: var(--text_color);
					}
				}
					
			}
		}
	}
}


// Cards

.acf-block--cards {	
	.acf-block-container {
		
		.acf-block-cards-figure,
		.acf-block-cards-content,
		.acf-block-cards-link {
			position: relative;
			background-color: #fff;
		}
		
		.acf-block-cards-figure {
			overflow: visible;
			
			img {
				max-width: 75%;
				margin: -$grid-padding auto $grid-padding auto;	
				
				@include rwd(wide) {
					margin-top: -$grid-padding*3;
				}
			}
			
		}
		
		.acf-block-cards-content,
		.acf-block-cards-link {
			text-align: center;
		}
		.acf-block-cards-link {
			padding: $grid-padding*2 $grid-padding;
		}
		
		.acf-block-cards-title {
			margin-bottom: $grid-padding;
		}
		.acf-block-cards-subtitle {
			position: relative;
			padding-bottom: $grid-padding*2;
			margin-bottom: $grid-padding*2;
			
			@include afterline(var(--secondary_color));
			&::after {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.acf-block-cards-content p {
			margin-top: 0;
		}
	}
}


// Banner

.acf-block--pagebanner {
	
	&.alignfull {
		padding: 0;
		
		@include rwd(wide) {
			.acf-block-banner-text {
				left: $half-space;
			}
		}
	}

	// Img & Video
	
	.banner-bg,
	.banner-video,
	.banner-slideshow,
	.banner-slideshow .slick-track,
	.banner-slideshow .slick-list,
	.banner-slideshow .slick-item,
	.banner-slideshow .slick-item > img {
		height: 36rem;
		
		@include rwd(medium) {
			height: 45rem;	
		}
		@include rwd(large) {
			height: 68vh;	
		}
	}	
	
	.acf-block-container {
		
		.scroll-down {
			background-color: transparent;
			
			img {
				width: 4.4rem;
				height: 4.4rem;
				background-color: var(--text_color);
				border-radius: 50%;
				padding: $grid-padding;
			}
			
			&:hover,
			&:focus {
				img {
					animation: pop_in .5s;
				}
			}
		}
	}
	
	.acf-block-banner-text {
		width: 90%;
		margin: 0 auto;
		margin-top: -10rem;
	}	
}