// Common Stuff
// -
// + + + + + + + + + + 


// Structure 


.page-wrap {
	
	&.has-sidebar {
		@include center();
		
		@include rwd(large) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row-reverse;
		}
	}
}

.page-banner,
.page-content,
.page-sidebar {
	width: 100%;
}

.page-banner {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	margin-bottom: $grid-padding*2;

	.banner-has-bg & {
		min-height: 20rem;
		background-color: var(--bg_color);
		background-size: cover;
		background-position: center center;
		
		@include rwd(medium) {
			min-height: 29rem;
		}
	}
	.error404 & {
		min-height: 50vh;
	}
		
	.inner {
		margin: 0;
		left: 0;
		max-width: 52rem;
		padding: $grid-padding*2;
		background-color: var(--page_color);
		
		@include rwd(large) {
			left: $half-space;
			transform: translateX(-$grid-padding*2);
		}
		
		&::after {
			content: '';
			display: block;
			width: calc(100% - #{$grid-padding}*4 );
			height: 1px;
			position: absolute;
			bottom: 0;
			left: $grid-padding*2;
			@include dotted-line();
		}
	}
	
	.page-title {
		margin: 0 0 $grid-padding 0;
	}
	p {
		margin: 0 0 $grid-padding/2 0;
	}

	.error404 &,
	.page-template-pagecustom-maintenance & {
		
	}
	
}


.page-title {
	
	.search-term {
		font-family: var(--font_bolditalic);
	}
}

.page-content {
	
	// Centering Blocks and content
	
	& > * {
		width: 100%;
		padding: 0 $grid-padding;
		@include center();
	}
	
	@include rwd(medium) {
		& > p,
		& > [class*="contact-form-7"],
		& .acf-block-text--1col,
		& #comments {
			padding-right: 20rem;
			
			.has-sidebar & {
				padding-right: 0;
			}
		}
		
		& > p.has-text-align-center {
			padding-right: 10rem;
			padding-left: 10rem;
		}
	}
	
	& > *.alignwide {
		max-width: $max-width-large;
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	// Beaver container
	& > *.fl-builder-content {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		padding: 0;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center();
		margin-bottom: $grid-padding*2;
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		position: relative;
		margin: $grid-padding*2 auto;
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}
	
	& > span {
		display: block;
	    margin-bottom: 1.5em;
	}
	
	@include rwd(large) {
		
		.has-sidebar & {
			width: 75%;
			padding-right: 8.3333%;
		}
	}	
}

.page-sidebar {
	padding: $grid-padding;
	
	position: absolute;
	top: auto; 
	left: 0;
	width: 100%;
	padding: $grid-padding;
	background-color: #fff;
	
	transform: translateX(-110%);
	transition: transform .4s ease-in-out;
	z-index: 80;
	
	.menu-opened + & {
		transform: translateX(0);
	}
	
	@include rwd(small) {
		width: 80%;
	}
	@include rwd(medium) {
		width: 60%;
	}
	
	@include rwd(large) {
		display: block;
		position: relative;
		left: auto;
		padding: 0;
		width: auto;
		background-color: transparent;
		transform: none;
			
		.has-sidebar & {
			width: 25%;
		}
	}	
}

#sidebar_toggle {
	position: absolute;
	top: auto;
	right: $grid-padding;
	transform: translateY(-125%);
	background-color: #fff;
	z-index: 90;
	
	.burger-title {
		@include a11y-hidden();
	}
}

// Sharebox

.share-box {
	margin: $grid-padding*2 0;
	
	& > p {
		font-family: var(--font_italic);
		font-size: 1.6rem;
	}	
}


// Scrollout Animations

hr[data-scroll="in"] {
	animation: stretch 1s ease-in-out;
}
section[data-scroll="in"],
.wpcf7-form {
	animation: slide_up 1s ease-in-out;
}

.boxed-cta[data-scroll="in"] {
	
	.acf-block-cta-text {
		animation: move_left 1s ease-in-out;
	}
	.acf-block-cta-btn {
		animation: move_right 1s ease-in-out;
	}
}

.post-block[data-scroll="in"] {
	
	.post-figure,
	.acf-block-post-figure {
		animation: fade_in 1s ease-in-out;
	}
	.post-meta,
	.acf-block-post-metas {
		animation: border_opacity 1s ease-in-out;
	}
}

@include rwd(medium) {
	
	.acf-block--textimg[data-scroll="in"] {
		.acf-block-textimg-picture {
			animation: slide_right 1s ease-in-out;
		}
		.right .acf-block-textimg-picture {
			animation: slide_left 1s ease-in-out;
		}
		.acf-block-textimg-text {
			animation: slide_left 1s ease-in-out;
		}
		.right .acf-block-textimg-picture {
			animation: slide_right 1s ease-in-out;
		}
	}
	
}