/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {
	position: relative;
	background-color: var(--header_color);
	
	& > .row {
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding-bottom: $grid-padding*2;
		
		&::after {
			content: '';
			display: block;
			border-bottom: var(--text_color) 1px solid;
			width: calc(100% - #{$grid-padding*2});
			position: absolute;
			left: $grid-padding;
			bottom: 0;
			
			.banner-has-bg & {
				content: none;
			}
		}
		@include rwd(medium) {
			flex-direction: row;
		}
		@include rwd(large) {
			
			.layout-v2 & {
				flex-direction: column;
				justify-content: flex-start;
			}	
		}
		
	}
}

// Layout

.site-toolbar {
	position: relative;
	width: 100%;
	padding: $grid-padding;

	&.has-search {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		
		@include rwd(large) {
			padding-right: $grid-padding;
		}
	}	
}

.toolbar-widgets {
	display: flex;
	align-items: center;
}

.site-brand {
	padding: $grid-padding;
	margin-top: $grid-padding*2;
	width: 60%;
	
	.site-toolbar + & {
		margin-top: 0;
	}
	
	@include rwd(large) {
		width: 75%;
	}
	@include rwd(large) {
		width: auto;
		
		.layout-v2 & {
			text-align: center;
		}	
	}
}

.site-nav {
	padding: $grid-padding;
	margin-top: $grid-padding*2;
	
	.site-toolbar + .site-brand + & {
		margin-top: 0;
	}
}


// Search

#site_search {
	position: relative;
	background-color: var(--bg_color);
	display: none;
	
	.search-title {
		display: none;
		
		@include rwd(small) {
			display: block;
			position: absolute;
			top: 0.25rem;
			left: $grid-padding;
			margin: 0;
			opacity: .4;
			font-size: 6rem; 
		}	
		
	}
}
.searchbox {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: $grid-padding*2 $grid-padding;
	
	.searchform {
		position: relative;
		
		label {
			position: absolute;
			top: 1rem;
			left: 1rem;
			font-family: var(--font_regular);
			font-size: 1.3rem;
			transition: .2s ease-in-out;
			border: 0;
		}
		
		input[type="search"] {
			margin: 0;
			border-color: var(--text_color);
			background-color: #fff;
			color: var(--text_color);
			transition: .3s ease-in-out;
			width: 25rem;
			
			&:hover,
			&:focus {
				border-color: var(--primary_color);
				//background-color: var(--bg_color);
			}
			
			&:focus + label,
			&:not(:placeholder-shown) + label {
				opacity: 0;
				visibility: none;
			}
			&:hover + label + #searchsubmit,
			&:focus + label + #searchsubmit,
			&:not(:placeholder-shown) + label + #searchsubmit {
				transform: scale(1.2);
				pointer-events: initial;
			}	
		}
		::placeholder {
		  opacity: 0;
		}
		#searchsubmit {
			display: block;
			width: 2rem;
			height: 2rem;
			padding: 0;
			background: transparent url(img/ui/search.svg) 0 0 no-repeat;
			background-size: contain;
			transition: .5s ease-in-out;
			pointer-events: none;

			position: absolute;
			top: $grid-padding;
			right: $grid-padding;

			@include a11y-hide();
			
			&:hover,
			&:focus {
				transform: scale(1.2);
			}
		}
	}	
}

#search_toggle {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	
	span {
		@include a11y-hidden();
	}
	
	img {
		display: block;
		width: 20px;
		height: 20px;
		position: relative;
		top: 0;
		margin: 0 auto;
		transition: .2s ease-in-out;
	}
	
	&:hover,
	&:focus {
		img {
			transform: scale(1.2);
		}
	}
}

// Styles

.site-title {
	display: block;
	font-family: var(--font_title);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 1;
	margin: 0;
	
	a,
	img {
		display: block;
	}
	img {
		@include rwd(large) {
		
			.layout-v2 & {
				margin: 0 auto;
			}	
		}		
	}

	.logo.has-mobile-logo { display: none; }
	.logo-mobile { display: block; }
	
	@include rwd(large) {
		.logo.has-mobile-logo { display: block; }
		.logo-mobile { display: none; }
	}

}

.site-desc {
	display: block;
	margin: 0;
	max-width: 22rem;
	line-height: 1.2;
	
	@include rwd(medium) {
		max-width: none;
	}
	@include rwd(large) {
		max-width: 24rem;
	}
}

// Sticky Nav

.sticky-nav {

	@include rwd(large) {
		#site_head {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			
			animation: drop-in .8s;
			z-index: 100;
			
			& > .row {
				padding-bottom: 0;
			} 		
			
		}
		
		.site-toolbar {
			display: none;
		}
		.site-title .logo {
			height: 3rem;
		}
		
		&.admin-bar {
			
			#site_head {
				top: 46px;
				
				@include rwd($admin-bar) {
					top: 32px;
				}
			}
		}
	}
}