// ------------------------------
//
// = Web Fonts Admin (CSS vars)
//
// ------------------------------

// Default (Andes)

@font-face {
	font-family: 'Regular';
	src: url('../fonts/atkinson-hyperlegible-regular.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic';
	src: url('../fonts/atkinson-hyperlegible-italic.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold';
	src: url('../fonts/atkinson-hyperlegible-bold.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic';
	src: url('../fonts/atkinson-hyperlegible-bolditalic.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-bolditalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Title';
	src: url('../fonts/AndesNeue-Bold.woff2') format('woff2'), url('../fonts/AndesNeue-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Bebas

@font-face {
	font-family: 'Regular-Bebas';
	src: url('../fonts/bitter-regular.woff2') format('woff2'), url('../fonts/bitter-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic-Bebas';
	src: url('../fonts/bitter-italic.woff2') format('woff2'), url('../fonts/bitter-italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold-Bebas';
	src: url('../fonts/bitter-bold.woff2') format('woff2'), url('../fonts/bitter-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic-Bebas';
	src: url('../fonts/bitter-bolditalic.woff2') format('woff2'), url('../fonts/bitter-bolditalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Title-Bebas';
	src: url('../fonts/Bebas.woff2') format('woff2'), url('../fonts/Bebas.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Playfair

@font-face {
	font-family: 'Regular-Cooper';
	src: url('../fonts/atkinson-hyperlegible-regular.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic-Cooper';
	src: url('../fonts/atkinson-hyperlegible-italic.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold-Cooper';
	src: url('../fonts/atkinson-hyperlegible-bold.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic-Cooper';
	src: url('../fonts/atkinson-hyperlegible-bolditalic.woff2') format('woff2'), url('../fonts/atkinson-hyperlegible-bolditalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Title-Cooper';
	src: url('../fonts/CooperHewitt-Bold.woff2') format('woff2'), url('../fonts/CooperHewitt-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Luciole

@font-face {
	font-family: 'Regular-Luciole';
	src: url('../fonts/Luciole.woff2') format('woff2'), url('../fonts/Luciole.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic-Luciole';
	src: url('../fonts/Luciole_Italic.woff2') format('woff2'), url('../fonts/Luciole_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold-Luciole';
	src: url('../fonts/Luciole_Bold.woff2') format('woff2'), url('../fonts/Luciole_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic-Luciole';
	src: url('../fonts/Luciole_Bold_Italic.woff2') format('woff2'), url('../fonts/Luciole_Bold_Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Title-Luciole';
	src: url('../fonts/Luciole_Bold.woff2') format('woff2'), url('../fonts/Luciole_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Barlow

@font-face {
	font-family: 'Regular-Barlow';
	src: url('../fonts/barlow-medium-webfont.woff2') format('woff2'), url('../fonts/barlow-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Italic-Barlow';
	src: url('../fonts/barlow-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/barlow-mediumitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bold-Barlow';
	src: url('../fonts/barlow-bold-webfont.woff2') format('woff2'), url('../fonts/barlow-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BoldItalic-Barlow';
	src: url('../fonts/barlow-bolditalic-webfont.woff2') format('woff2'), url('../fonts/barlow-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Title-Barlow';
	src: url('../fonts/barlowsemicondensed-bold-webfont.woff2') format('woff2'), url('../fonts/barlowsemicondensed-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}